/* Stile für die Neuseelandreise */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    max-width: 1280px;
    margin: auto;
} /* Schriftart, Hintergrundfarbe, Größe, Randbreite der gesamten Webpage*/

header>img {
    max-width: 100%;
} /*Das des Bild ganz oben ist*/

header a img {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: -50px;
} /*Userfoto formatierung: radius: Kreis, mittig, -50 px verschoben */

main {
    max-width: 1024px;
    margin: auto;
    margin-top: -25px;
    border-left: 1px dashed silver;
    border-right: 1px dashed silver;
    border-bottom: 1px dashed silver;
} /* Formatierung des Hauptteils. Gestrichelte silberne Außenlinie*/

article {
    padding: 1em;
} 

article p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 1.2em;
}

article h1,
article h2,
article h3 {
    font-family: 'Montserrat', sans-serif;
}

article figure>img {
    width: 100%;
}

#map {
    width: 90%;
    height: 600px;
    border: 1px solid silver;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1em 2em 3em 2em;
}

footer nav {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

a {
    color: black;
}

header>img,
figure>img,
#map {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 1280px) {
    main {
        border: none;
    }

    #map {
        width: 100%;
    }
}